@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@source "./src/*.{html,js}";
@plugin "daisyui" {
	themes: light --default, dark --prefersdark;
}

/* https://github.com/saadeghi/daisyui/issues/3040 */
html {
	scrollbar-gutter: auto !important;
	font-family: 'Montserrat', 'sans-serif';
}
